.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/google-services.json
android/key.properties
android/app/*.jks
android/app/*.keystore
.idea/
.vscode/
.pub/
.pub-cache/
coverage/
ios/Pods/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.log
.env.admin-test
.DS_Store
